<div class="card-container" [class.flipped]="isFlipped">
  <div class="card-inner" (click)="toggleFlip()">
    
    <!-- <div class="card-front">
      <img [src]="serie.poster_url || 'assets/no-image.png'" alt="Poster de {{ serie.title }}">
    </div> -->
    <div class="card-front">
      @if (serie.is_completed) {
        <div class="completed-badge">
          <i class="bi bi-check-lg"></i> FINALIZADA
        </div>
      }
      <img [src]="serie.poster_url || 'assets/no-image.png'" alt="Poster">
    </div>

    <div class="card-back">
      <h3>{{ serie.title }}</h3>
      <p class="date">Estreno: {{ serie.premiered | date: 'yyyy' }}</p>
      
      <div class="seasons-container">
        <h4>Temporadas:</h4>
        <div class="seasons-grid">
          @for (season of serie.seasons; track season.id) {
            <button 
              class="season-badge"
              [class.not-seen]="!season.is_seen"
              [class.seen]="season.is_seen"
              (click)="toggleSeason($event, season)">
              {{ season.season_number }}
            </button>
          }
        </div>        
      </div> 
      <!-- <button 
        class="complete-icon-btn" 
        [class.is-completed]="serie.is_completed"
        (click)="toggleCompleted($event)" 
        title="Marcar como finalizada">
        <i class="bi" [ngClass]="serie.is_completed ? 'bi-check-circle-fill' : 'bi-check-circle'"></i>
      </button>
      <button class="delete-icon-btn" (click)="deleteThisSerie($event)" title="Eliminar serie">
        <i class="bi bi-trash"></i>
      </button>      -->
      <div class="card-actions">
        <button class="action-btn" [class.is-completed]="serie.is_completed" (click)="toggleCompleted($event)" title="Marcar como finalizada">
          <i class="bi" [ngClass]="serie.is_completed ? 'bi-check-circle-fill' : 'bi-check-circle'"></i>
        </button>
        
        <button class="action-btn add-season-btn" (click)="addNewSeason($event)" title="Añadir nueva temporada">
          <i class="bi bi-plus-circle"></i>
        </button>

        <button class="action-btn delete-btn" (click)="deleteThisSerie($event)" title="Eliminar serie">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>

  </div>
</div>